<div mat-dialog-actions class="modal-width">
  <image-cropper
    [imageBase64]="imageChangedEvent"
    [resizeToWidth]="imageWidth"
    [cropper]="cropper"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>
  <div fxLayout="row" class="crop-button" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" [mat-dialog-close]="croppedImage">
      Crop Image
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</div>
