<div class="image-area">
  <app-image-crop
    [aspectRation]="5 / 3"
    [imageWidth]="400"
    [placeholder]="'Your image upload goes here'"
    (uploadImageEvent)="uploadImageEvent($event)"
  ></app-image-crop>
</div>

<div class="image-area">
  <app-img-crop
    [aspectRation]="5 / 3"
    [imageWidth]="800"
    [placeholder]="'Your image upload goes here'"
    (uploadImageEvent)="uploadImageEventTest($event)"
  ></app-img-crop>
</div>

<div style="margin-top: 50px;">
  <mat-form-field>
    <input
      matInput
      NumberOnly
      type="number"
      [maxAllowedNumber]="10000"
      placeholder="Less than 10000"
      autocomplete="off"
    />
  </mat-form-field>
</div>
